/*
    GLOBAL STYLING
*/
@font-face {
    font-family: 'Sackers Gothic';
    src: url('../fonts/font.ttf');
}
/*
    MENU
*/
.navbar-simple .navbar-inner .nav li a {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #000;
    font-family: 'Sackers Gothic', sans-serif;
	font-size: 14px;
    font-weight: 300;
}
.navbar-simple .navbar-inner .nav li a,
i.fa {
    -webkit-transition-property:color;
    -webkit-transition-duration: 0.3s,0.2s;
    -webkit-transition-timing-function: ease-out, ease-in;
    -moz-transition-property:color;
    -moz-transition-duration:0.1s;
    -moz-transition-timing-function: linear, ease-in;
    -o-transition-property:color;
    -o-transition-duration:0.1s;
    -o-transition-timing-function: linear, ease-in;

}
.navbar-simple .navbar-inner .nav li a:hover {
	color: #ff9919;
}
.navbar-simple .navbar-inner .nav li.active a {
	color: #bf3604;
}

/*TODO this needs to be moved to less in the future*/
@media (min-width: 768px)  {
    div .nav.navbar-nav.main-menu >li>a {
        padding-right: 5px;
    }
}

.nav.navbar-nav.main-menu >li>a {
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: 16px;
    /*text-shadow: 0 0 0 rgba(0, 0, 0, .2);*/
}

.menu-line {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid rgb(254,196,37);
}


.upper-menu {
    border-bottom: 1px solid rgb(254,196,37);
}
.nav.navbar-nav.upper-menu >li>a {
    padding-bottom: 5px;
}
/*
    LOGO
*/
.focal-logo {
    float: left;
    height: 95px;
}

i.fa:hover {
    color: #ff9919;
    cursor:pointer;
}
/*
    SOCIAL BUTTONS
*/
.social-buttons a {
    color: #000;
}
.social-buttons i {
    padding-left: 2px;
    padding-right: 2px;
}
/*
    lOGIN DROPDOWN
*/
.login-dropdown {
    width: 250px;
    height: 250px;
    padding: 0 15px 0 15px;
}
.login-dropdown .login-actions {
    margin-left: 20px;
}
/*
    CAROUSEL STYLING
*/
.carousel .carousel-indicators {
    margin-bottom: -50px;
}
.carousel .carousel-indicators li {
    border: 1px solid #000;
    background-color: #000;

}
.carousel .carousel-indicators li.active{
    border: 1px solid rgb(254,196,37);
    background-color: rgb(254,196,37);
}

.carousel-inner > .item > img {
    margin: 0 auto;
    /*height: 300px;*/
    /*max-height: 300px;*/
}

/*
    BODY
*/
div.page-header {
    margin: 40px 0 20px;
    border: none;
}
.page-header h1.underlined {
    color: #000;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(254,196,37);
    font-family: 'Sackers Gothic', sans-serif;
    font-size: 14px;
}
