@font-face {
    font-family: 'Sackers Gothic';
    src: url('../fonts/font.ttf');
}
.navbar-simple .brand {
 	/*padding-top: 15px;*/
	/*padding-bottom: 15px;*/
}
.navbar-simple .navbar-inner {
	/*background: #fff;*/
	/*filter: none !important;*/
	/*box-shadow: 0 2px 15px rgba(0,0,0,0.25);*/
	/*-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.25);*/
	/*-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.25);*/
	/*border-bottom: 1px solid rgba(0,0,0,0.2);*/
}
.navbar-simple .navbar-inner .nav {
	/*float: right;*/
}
.navbar-simple .navbar-inner .nav li a {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #000;
    font-family: 'Sackers Gothic', sans-serif;
	font-size: 14px;
	font-weight: 300;

}
.navbar-simple .navbar-inner .nav li a:hover {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #fec425;
}		
.navbar-simple .navbar-inner .nav li.active a {
	color: #bf3604;
}


/*.nav.navbar-nav.main-menu {*/
    /*padding-left: 120px !important;   *//*stay away from logo*/

/*}*/
/* menu items */
.nav.navbar-nav.main-menu >li>a {
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 5px;
    font-size: 16px;
    /*text-shadow: 0 0 0 rgba(0, 0, 0, .2);*/
}
.focal-logo {
    float: left;
    height: 100px;
}

.social-buttons > i {
    padding-left: 2px;
    padding-right: 2px;
}
.carousel .carousel-indicators {
    margin-bottom: -50px;
}
.carousel .carousel-indicators li {
    border: 1px solid #000;
    background-color: #000;

}
.carousel .carousel-indicators li.active{
    border: 1px solid rgb(254,196,37);
    background-color: rgb(254,196,37);
}

.menu-line {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid rgb(254,196,37);
}

div.page-header {
    margin: 40px 0 20px;
    border: none;
}
.upper-menu {
    border-bottom: 1px solid rgb(254,196,37);
}
.nav.navbar-nav.upper-menu >li>a {
    padding-bottom: 5px;
}
.page-header h1.underlined {
    color: #000;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(254,196,37);
    font-family: 'Sackers Gothic', sans-serif;
    font-size: 14px;
}

/*custom */
.carousel-inner > .item > img {
    margin: 0 auto;
    /*height: 300px;*/
    /*max-height: 300px;*/
}